apiVersion: v1
kind: Service
metadata:
  name: redis
  labels:
    app: redis
spec:
  type: ClusterIP ## Default value, not required
  ports:
    - name: redis
      targetPort: 6379
      port: 6379
  selector:
    app: redis
